* {
    all: unset;
    font-size: 12px;
    font-family: 'FantasqueSansMono Nerd Font Mono';
    transition: 200ms;
}
$mono_font: 'mononoki NF';

@import "./scss/colors.scss";
@import "./scss/variables.scss";
@import "./scss/common.scss";
@import "./scss/panel.scss";
@import "./scss/datemenu.scss";
@import "./scss/quicksettings.scss";
@import "./scss/powermenu.scss";
@import "./scss/desktop.scss";
@import "./scss/osd.scss";
@import "./scss/dock.scss";
tooltip{ @include tooltip }
