#waybar {
  background-color: transparent; }

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#tray {
  border: 0px solid rgba(255, 255, 255, 0.002);
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 7px;
  background-color: transparent;
  padding: 2px 8px; }
