$theme: 'light';

$red: #ed333b;
$green: #33d17a;
$blue: #3584e4;
$yellow: #f6d32d;
$magenta: #9141ac;
$teal: #33b2a4;
$orange: #ffa348;

$bg_color: #ffffff;
$fg_color: #1f1f1f;
$hover_fg: #1f1f1f;
$accent_fg: #1f1f1f;
