.osd{
    @include floating_widget;
    padding: .3em;
    .icon{
        font-size: 20px;
        color: $accent_fg;
        min-width: 30px;
        min-height: 30px;
    }
    .scale{
        min-height: 14em;
        @include slider($width: 3em);
        trough{
            background-color: transparent;
            border: none;
        }
    }
}
