$assets: '/home/scientiac/.config/eww/assets/';
$wallpaper: $assets+'wallpaper.png';
$avatar:    $assets+'avatar.jpg';

//red      //swaync, powermenu
//green    //panel .charging
//blue     //datemenu .night
//yellow   //datemenu .clear
//magenta  //quicksettings .mpv
//teal     //datemenu .mist
//orange   //quicksettings.firefox

$hover: transparentize($fg_color, 0.84);
$accent: $blue;

$wm_gaps: 18px;
$destructive: $red;
$succes: $green;
$radii: 7px;

$widget_bg: transparentize($fg_color, 0.94);
$widget_radius: $radii;

$button_bg: transparentize($fg_color, 0.92);
$button_radius: $radii;

$panel_radius: $radii * 0;
$panel_button_radius: $radii * 0.9;

$border_color: rgba(255, 255, 255, 0.002);
$border_width: 1px;
$border: $border_width solid $border_color;

$text_shadow: 2px 2px 2px rgba(0,0,0,0.5);

$popover_radius: $radii * 1.8;
$popover_border_color: rgba(255,255,255,0.02);
$popover_padding: 14px;
