@import "./../eww/scss/colors.scss";
@import "./../eww/scss/variables.scss";
@import "./../eww/scss/common.scss";

#waybar{ background-color: transparent; }
tooltip{ @include tooltip }

#tray {
    border: $border_width solid $border_color;
    border-bottom: none;
    border-right: none;
    border-top-left-radius: $button_radius;
    background-color: $bg_color;
    padding: 3px;
}
