#waybar {
  background-color: transparent; }

tooltip > * > * {
  background-color: #181818;
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.02);
  color: white;
  padding: 8px;
  margin: 4px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4); }

#tray {
  border: 1px solid rgba(255, 255, 255, 0.002);
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 7px;
  background-color: #181818;
  padding: 3px; }
