* {
  border: none;
  border-radius: 0;
  font-family: mononoki Nerd Font;
  font-weight: bold;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
    /* background: rgba(21, 18, 27, 0); */
    background: transparent;
    color: #cdd6f4;
}


tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    /* background: #eba0ac; */
    /* border-radius: 2px; */
}

#workspaces button.urgent {
    color: #11111b;
    /* background: #a6e3a1; */
    /* border-radius: 2px; */
}

#workspaces button:hover {
    background: none;
    color: #cdd6f4;
    /* border: 2px; */
    border-radius: 2px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#custom-workspace-prev,
#custom-workspace-next,
#custom-cava,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: rgba(17, 17, 27, 0.8);
    /* background-image: url("/home/scientiac/.config/waybar/png/blur.jpg"); */
    padding: 5px 10px;
    margin: 3px 0px;
    margin-top: 1px;
    /* border: 1px solid #181825; */
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: #89dceb;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
}

#custom-cava {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#clock {
    color: #fab387;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-right: 0px;
}

#custom-workspace-prev {
    border-radius: 10px 0px 0px 10px;
    margin-left: 60px;
    border-right: 0px;
}

#custom-workspace-next {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-right: 60px;
}

#network {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;;
}

#pulseaudio.microphone {
    color: #cba6f7;
    margin-right: 5px;
    border-radius: 0 10px 10px 0;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 5px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 10px 10px 10px 10px;
    border-right: 0px;
    margin-left: 5px;
}

#custom-bluetooth-battery-waybar-module {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}

#backlight {
    color: #fab387;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    border-right: 0px;
}
